<!DOCTYPE html>
<html>
    <head>
        <h1>Lab Nav Page</h1>
    </head>
    <body>
         <a href="./hello">Hello</a><br>
         <a href="./goodbye">Goodbye</a><br>
         <a href="./date">Date</a>


    </body>
</html>